textarea {
    resize: none;
    border:#DCDCDC;
    outline: none;
  }
#border{
      border:2px solid #DCDCDC;
  }
  #index{
  color:#606060;
  text-align:right;
  }
  body{
      padding-top: 20px;
      background-color:khaki;
  }
  ul{
    list-style: none;
    padding-left: 0px;
  }
  #output{
    width: 100%;
    height: 150px;
    background-color: black;
    color: white;
  }
  #wid{
    height: 50vh;
    overflow: auto;
  }